<h3>Home page</h3>
<ul>
    <?php if ($this->session->has('user_identity')): ?>
        <li><?= $this->tag->linkTo('/user/logout', 'Logout') ?></li>
    <?php else: ?>
        <li><?= $this->tag->linkTo('/user/login', 'Sign in') ?></li>
        <li><?= $this->tag->linkTo('/user/register', 'Sign up') ?></li>
        <li><?= $this->tag->linkTo('/user/forgotPassword', 'Forgot password?') ?></li>
    <?php endif; ?>
</ul>