<h2>You have requested password recovery option for email&nbsp;<?= $email ?></h2>
<p>
    To recover password go to
    <?= $this->tag->linkTo('<[{VagrantFile.hostname}]>/recoverPassword/' . $hash, 'url') ?>
    <br>
    If you did not request a password recovery follow
    <?= $this->tag->linkTo('<[{VagrantFile.hostname}]>/recoverPasswordCancel' . $hash, 'url') ?>
</p>